@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* === removing default button-1 style ===*/
.button-1 {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button-1 styling */
.button-1 {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: black;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button-1 */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button-1:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

  /* title */
.text-container{
  background-color: white;
  color: #111;
  margin: 0 auto;
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
}
  .text-container > span {
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite;
  }
  
  @keyframes glow {
    0%, 100% {
      color: black;
      text-shadow: 0 0 10px #0652DD, 0 0 50px #0652DD, 0 0 100px #0652DD;
    }
    
    10%, 90% {
      color: #111;
      text-shadow: none;
    }
  }
  
  .text-container > span:nth-child(2) {
    animation-delay: 0.25s;
  }
  
  .text-container > span:nth-child(3) {
    animation-delay: 0.5s;
  }
  
  .text-container > span:nth-child(4) {
    animation-delay: 0.75s;
  }
  
  .text-container > span:nth-child(5) {
    animation-delay: 1s;
  }
  
  .text-container > span:nth-child(6) {
    animation-delay: 1.25s;
  }
  
  .text-container > span:nth-child(7) {
    animation-delay: 1.5s;
  }
  @media screen and (max-width: 600px) {
    .text-container {
      font-size: 25px;
    }
  }
  .card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }